a {
  padding: 2px 5px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

.navlogo {
  height: 35px;
  width: 140px;
}

.contact_form_title {
  font-size: 30px;
  font-weight: bolder;
}

.home_page {
  background: url("./images/home_page.png");
  background-repeat: no-repeat;
  height: 94.4vh;
  background-size: cover;
}
.home_page h2 {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.home_page h1 {
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
}
.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px;
}

.notfound a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound .notfound-404 h2 {
    font-size: 26px;
  }
}

.emp-profile {
  margin-top: 150px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding-top: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  height: 600px;
}

.contact_form_container {
  padding: 50px;
  margin-top: 150px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding-top: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  height: 600px;
}

.contact_form_container textarea {
  font-weight: 600;
  color: #189cf0;
}

.contact_form_container input {
  color: #189cf0;
  font-weight: 600;
}

.emp-profile-interior {
  margin-top: 50px;
}

.emp-profile img {
  width: 200px;
  margin-left: 150px;
}

.profile-head h6 {
  color: #189cf0;
}

.profile-work {
  margin-left: 150px;
}

.profile-edit-btn {
  border: none;
  border-radius: 5px;
  background-color: #189cf0;
  color: white;
}

.profile-rating {
  font-weight: bold;
}

.about-info label {
  font-weight: bold;
}

.about-info p {
  color: #189cf0;
  font-weight: 500;
}

.profile-work p {
  margin-top: 10px;
  font-weight: bold;
}

.profile-work a {
  text-decoration: none;
  color: #189cf0;
}
